// Responsive Media Queries
@mixin responsive_desktop_only($min-width: 1024px) {
	@media only screen and (min-width: $min-width) {
		@content;
	}
}
@mixin responsive_mobile_only($max-width: 1024px) {
	@media only screen and (max-width: $max-width) {
		@content;
	}
}
//** Text Effects **
@mixin textWithShadow($color: var(--alternate-color), $shadowWidth: 2px) {
	text-shadow: 0px 0px $shadowWidth $color;
}
//********************************************************************************

// *** Box-Shadows ***
@mixin dayShadow {
	// box-shadow: -2px -2px 20px 0px gold, 2px 2px 15px 2px purple;
	box-shadow: -2px -2px 20px 0px rgba(71, 112, 173, 0.63),
		2px 2px 15px 2px rgba(var(--accentValue-color), 0.5);
	transition: box-shadow 200ms ease-in-out;
}
@mixin nightShadow {
	box-shadow: -2px -2px 20px 0px rgba(83, 168, 53, 0.54),
		2px 2px 15px 2px rgba(var(--accentValue-color), 0.5);
	transition: box-shadow 200ms ease-in-out;
}
@mixin normalShadow {
	box-shadow: 0 0 4px 2px rgba(var(--mainValue-color), 50%);
}
@mixin hoverBoxShadow {
	&:hover {
		box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.2);
		transform: scale(0.98);
		@content;
	}
}
@mixin glassShadow {
	box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 50%);
}
// ******************************************

// Rounded Elements (border-radius)
@mixin rounded($radius: 3rem) {
	border-radius: $radius;
}
@mixin fillAvailableWidth {
	width: auto;
	width: -webkit-fill-available;
	width: -moz-available;
}
@mixin centerAIJC {
	align-items: center;
	justify-content: center;
}
@mixin flexCenter($gap: null) {
	@include centerAIJC;
	display: flex;
	gap: $gap;
}
@mixin gridCenter($grid: grid, $gap: null) {
	@include centerAIJC;
	display: $grid;
	gap: $gap;
}
@mixin stickyToTop {
	position: sticky;
	top: 0;
}
@mixin gridAndGap($gap: 10px) {
	display: grid;
	gap: $gap;
}
@mixin cell {
	@include centerAIJC;
	@include defaultTransition;
	@include fillAvailableWidth;
	font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue',
		'sans-serif';
	font-size: 1rem;
	padding: 0.5em;
	display: flex;
	border-radius: 2vh; // or 20px?
	box-sizing: border-box;
	background-color: white;
	color: black;
}
@mixin editableCell($frosted: true) {
	@include cell;
	@if ($frosted) {
		@include frostedGlass;
	}
	@include normalShadow;
	width: max-content;
	max-width: 100%;
	&:hover,
	&:focus {
		cursor: text;
		filter: brightness(105%);
		outline: none;
		@include dayShadow;
		&:focus {
			@include nightShadow;
		}
	}
}
@mixin editableInput($frosted: true) {
	@include editableCell($frosted);
}

@mixin padded1M {
	padding: 1em;
}
@mixin centeredButton {
	@include centerAIJC;
	margin: auto;
}

@mixin defaultTransition {
	transition: all 300ms ease-in-out;
}
@mixin noBorder {
	border: none;
}
@mixin thinnestBorder {
	border: 0.1px solid rgba(0, 0, 0, 0.2);
}
@mixin cursorPointerAlways {
	cursor: pointer;
	&:hover,
	&:focus {
		cursor: pointer;
	}
}
@mixin noOutline {
	outline: none;
}
@mixin frostedGlass {
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
}
@mixin frostedGlassHighContrast {
	backdrop-filter: blur(3px);
	-webkit-backdrop-filter: blur(3px);
	color: black;
}

@mixin cloudyBackground {
	color: black; // override the default color to maintain high contrast with whitish background
	box-shadow: 0 0 10px 5px rgb(255 255 255 / 30%);
	background: radial-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
}

@mixin defaultButtonStyles {
	display: flex;
	width: auto;
	font-size: 1rem;
	color: var(--main-color);
	// max-width: max-content;
	// @include textWithShadow;
	@include frostedGlass;
	@include glassShadow;
	@include rounded(5vh);
	@include padded1M;
	@include centeredButton;
	@include hoverBoxShadow;
	@include defaultTransition;
	@include thinnestBorder;
	@include cursorPointerAlways;
	@include noOutline;
	&:focus {
		@include nightShadow;
	}
	&:hover {
		@include dayShadow;
	}
}
@mixin discreetButtonStyles {
	background: transparent;
	box-shadow: none;
	border: none;
	border-radius: 1em;
}

@mixin fadeOut {
	animation: both fadeOut 1s linear;

	@keyframes fadeOut {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
}

@mixin accelerate {
	transform: translate3d(
		0,
		0,
		0
	); // trick the browser into using hardware acceleration (GPU) for expensive animations
}
@mixin active(
	$color: white,
	$textDecorationColor: white,
	$backgroundColor: var(--accentValue-color),
	$backgroundAlpha: 0.8
) {
	color: $color;
	text-decoration: underline 2px $textDecorationColor;
	background-color: rgba($backgroundColor, $backgroundAlpha);
}

@mixin pulse(
	$color: var(--accentValue-color),
	$pulseDistance: 10px,
	$pulseDuration: 2.5s,
	$opacity: 40%
) {
	animation: pulse $pulseDuration infinite;

	@-webkit-keyframes pulse {
		0% {
			-webkit-box-shadow: 0 0 0 0 rgba($color, $opacity);
		}
		50% {
			-webkit-box-shadow: 0 0 0 $pulseDistance rgba($color, 0%);
		}
		100% {
			-webkit-box-shadow: 0 0 0 0 rgba($color, 0%);
		}
	}
	@keyframes pulse {
		0% {
			-moz-box-shadow: 0 0 0 0 rgba($color, $opacity);
			box-shadow: 0 0 0 0 rgba($color, $opacity);
		}
		50% {
			-moz-box-shadow: 0 0 0 $pulseDistance rgba($color, 0%);
			box-shadow: 0 0 0 $pulseDistance rgba($color, 0%);
		}
		100% {
			-moz-box-shadow: 0 0 0 0 rgba($color, 0%);
			box-shadow: 0 0 0 0 rgba($color, 0%);
		}
	}
	&:hover,
	&:focus-within {
		animation: none;
	}
}
@mixin defaultContainerStyles {
	width: auto;
	font-size: 1rem;
	color: var(--main-color);
	@include glassShadow;
	@include rounded(5vh);
	@include padded1M;
	@include centeredButton;
	@include defaultTransition;
	@include thinnestBorder;
	@include noOutline;
	&:focus {
		@include nightShadow;
	}
}
@mixin accentedContainer($lightModeAlpha: 100%, $darkModeAlpha: 40%) {
	background-color: rgba(var(--accentValue-color), $lightModeAlpha);
	&.dark-mode {
		background-color: rgba(var(--accentValue-color), $darkModeAlpha);
		box-shadow: 0 0 6px 3px rgba(var(--accentValue-color), 30%);
	}
}
@mixin spin {
	animation: spin 0.3s infinite cubic-bezier(0.6, 0.04, 0.98, 0.335);
	@keyframes spin {
		0% {
			transform: rotateX(0deg);
		}
		50% {
			transform: rotateX(180deg);
		}
		100% {
			transform: rotate3d(360deg);
		}
	}
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
	position: $position;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}
@mixin absolute($args...) {
	@include position(absolute, $args...);
}

@mixin fixed($args...) {
	@include position(fixed, $args...);
}

@mixin relative($args...) {
	@include position(relative, $args...);
}
@mixin styledButton {
	@include defaultButtonStyles;
	font-weight: bold;
	color: white;
	width: 100%;
	box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.5);
	border: 4px solid rgba(var(--accentValue-color), 80%);
	background: radial-gradient(
		rgba(var(--accentValue-color), 70%),
		rgba(var(--accentValue-color), 40%)
	);
}
@mixin hiddenInput {
	visibility: hidden;
	height: 0;
	width: 0;
	display: none;
}

@mixin deletionButton() {
	@include styledButton;
	background: darkred;
	border: 4px solid firebrick;
}
@mixin defaultSelect {
	@include frostedGlassHighContrast;
	@include rounded;
	@include cursorPointerAlways;
	display: inline-flex;
	padding: 1rem;
	font-weight: bold;
	max-width: 100%;
	&:focus {
		@include nightShadow;
	}
	&:hover {
		@include dayShadow;
	}
}
@mixin admin {
	color: var(--admin-color, darkred);
	border: var(--adminBorder-color, darkred) solid 1px;
	background: var(--adminBackground-color, hsl(0, 35%, 75%));
}
