* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-display: swap;
	font-family: Open Sans;
}

:root {
	--heading-color: rgba(0 0 0 70%);
	--text-color: #444;
	--background-without-opacity: rgba(255 255 255 70%);
	--h1-size: 2.5rem;
	--h2-size: 1rem;
	--pre-size: 1rem;
	--font-mono: 'Fira Mono', monospace;
	--below: -1;
	--base: 0;
	--above: 1;
	--zFixed: calc(var(--above) + var(--base));
	--zSticky: var(--zFixed);
	--zModal: calc(var(--above) + var(--zFixed));
}

body {
	min-height: 100vh;
	margin: 0;
}

p {
	line-height: 1.5;
	width: clamp(45ch, 50%, 75ch);
	max-width: 100%;
}

a {
	color: var(--accent-color, rgb(233 181 99));
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: var(--h1-size, 2.5rem);
	margin-bottom: 0 0 1em 0;
	text-align: center;
}

h2 {
	font-size: var(--h2-size, 1rem);
}

/* Pre-formatted text that won't be changed by the browser styles */
pre {
	font-size: var(--pre-size, 16px);
	font-family: var(--font-mono);
	background-color: rgba(255 255 255 45%);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgba(255 255 255 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	/* font-size: inherit; */
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}
